grant {
    // Allow the client to connect to the RMI server and communicate
    permission java.net.SocketPermission "*:1024-", "connect,accept,resolve";
    permission java.security.AllPermission;
};
